/* .swipers {
  width: 240px;
  height: 320px;
}

.swiper-slides {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slides:nth-child(1n) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slides:nth-child(2n) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slides:nth-child(3n) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slides:nth-child(4n) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 */
