.banner {
  position: relative;
  border: 1px solid red;
  max-width: 100%;
  height: 100vh;
}
.banner .left {
  position: absolute;
  left: 0;
}
.banner .right {
  position: absolute;
  top: 0;
  right: 0;
}
.slider-conten {
  position: absolute;
  top: 30%;
  padding-left: 23px;
}
.slider-conten p {
  max-width: 30%;
}
